.courses__container {
  max-width: var(--marketing-container-width);
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;

  .courses {
    display: grid;
    gap: 30px;

    .courses__card {
      background-color: var(--bg-primary);
      border-radius: 16px;
      padding: 8px;
      transition: all 0.4s;
      border: 1px solid var(--bg-primary);
      display: flex;
      align-items: flex-start;

      &:hover {
        border: 1px solid var(--btn-primary);
      }

      > div:last-child {
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
      }
      p {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        width: auto;
        height: 180px;
        border-radius: 16px;
      }
      .tag_difficulty {
        margin-bottom: 10px;
        width: fit-content;
      }
      .card__footer {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--font-secondary);
        button {
          display: flex;
          align-items: center;
          gap: 5px;
          i {
            line-height: 0 !important;
          }
        }
      }
    }
    .courses__card__small {
      width: 380px;
    }

    .courses__card__large {
      width: 580px;
    }
  }

  .courses__triple {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 435px) {
  .courses__container {
    max-width: 80vw;
    .courses {
      .courses__card {
        flex-direction: column;
        padding: 0;
        img {
          width: calc(80vw);
          margin: 0 auto;
          height: auto;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }

      .courses__card__large,
      .courses__card__small {
        width: 80vw;
      }
    }

    .courses__triple {
      grid-template-columns: 1fr;
    }
  }
}
