.add__hero__wrapper {
  background-color: var(--bg-content-form);
  padding: 20px;
  h4 {
    margin: 0;
  }
  img {
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    border-radius: 4px;
    transition: all 0.4s ease-in;
    &:hover {
      border: 1px solid var(--btn-primary);
    }
  }
}
