.notification__avatar {
  border: 2px solid var(--bg-segment);
  width: 40px;
  height: 40px;
}

.message__wrapper {
  display: flex;
  gap: 10px;
  width: 384px;
  > div:last-child {
    max-width: 270px;
    span {
      color: var(--font-primary);
    }
  }
}

.description__wrapper {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--bg-secondary);
  max-height: 400px;
  p {
    text-align: left;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.badgeIndicator {
  color: #fff !important;
  background: var(--btn-primary) !important;
}
@media only screen and (max-width: 435px) {
  .notification__avatar {
    width: 30px;
    height: 30px;
  }
  .message__wrapper {
    width: 300px;
    > div:last-child {
      max-width: 170px;
    }
  }
  .description__wrapper {
    max-width: 80vw;
  }
}
