.feature__wrapper {
  max-width: 800px;
  h4 {
    margin: 0;
  }

  img {
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    border-radius: 4px;
    padding: 5px;
    transition: all 0.4s ease-in;
    &:hover {
      border: 1px solid var(--btn-primary);
    }
  }

  .feature__card__form {
    border: 1px solid var(--border-color);

    border-radius: 4px;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.4s ease-in;
    .link__dropdown {
      cursor: pointer;
      display: flex;
      align-content: center;
      flex-direction: row-reverse;
      gap: 5px;
      i {
        line-height: 0;
        font-size: 18px;
        color: var(--font-secondary);
      }
    }
    > div:first-child {
      padding-bottom: 30px;
    }
  }

  .segment {
    width: fit-content;
    color: var(--font-secondary);
    > div:first-child {
      label {
        padding: 0px 3px;
      }
    }
  }
}
