.avatar__container {
  display: flex;
  align-items: center;
  gap: 10px;
  .avatar__profile {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
    img {
      border-radius: 50%;
      object-fit: cover;
      width: 100%;
      height: auto;
      margin: 4px;
    }
  }
  .avatar__name {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--font-secondary);
    span {
      color: #cdcdcd;
    }
  }
}
@media only screen and (max-width: 435px) {
  .avatar__container {
    .avatar__profile {
      height: 32px;
      width: 32px;
      padding: 4px;
    }
    .avatar__name {
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--font-secondary);
      span {
        color: #cdcdcd;
        font-size: 12px;
      }
    }
  }
}
