.user__info {
  .user__avatar {
    height: 40px;
    width: 40px;
  }
}

.list__bar__para__wrapper {
  max-width: 150px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
