services:
  web:
    image: torqbit/torqbit:0.1.5-rc4
    ports:
      - "8080:80"
    build: .
    command: ["sh", "-c", "nginx ; npx prisma db push --accept-data-loss; PORT=8080 yarn start"]

    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/api/user/get-all || exit 1"]
      interval: 30s
      timeout: 2s
      retries: 5
      start_period: 15s

    env_file:
      - "./docker.env"

    networks:
      - app-network

  db:
    image: mysql:8.0.12
    hostname: db.torqbit.com
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      interval: 2s
      timeout: 2s
      retries: 5
      start_period: 5s
    ports:
      - "3360:3306"
    environment:
      MYSQL_USER: admin
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_PASSWORD: torq123
      MYSQL_DATABASE: torqbitdb
    volumes:
      - db-data:/var/lib/mysql

    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
