.blog__list__container {
  max-width: var(--marketing-container-width);
  display: flex;
  flex-direction: column;

  gap: 50px;
  margin: 0px auto;

  .blog__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      i {
        line-height: 0;
      }
    }
    p {
      margin-bottom: 30px;
    }
  }

  .blogs {
    display: grid;
    gap: 30px;

    .blogs__card {
      width: 380px;
      background-color: var(--bg-primary);
      border-radius: 16px;
      transition: all 0.4s;
      border: 1px solid var(--bg-primary);

      &:hover {
        border: 1px solid var(--btn-primary);
      }

      .banner__img {
        width: 100%;
        height: auto;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .blogs__card__footer {
        padding: 10px 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }
    .blogs__card__small {
      width: 380px;
    }

    .blogs__card__large {
      width: 580px;
    }
  }
  .blogs__double {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .blogs__triple {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 435px) {
  .blog__list__container {
    max-width: 80vw;
    margin: 0px auto;
    .blog__title {
      button {
        margin-bottom: 10px;
      }
    }

    .blogs {
      grid-template-columns: 1fr;

      .blogs__card,
      .blogs__card__large,
      .blogs__card__small {
        width: 80vw;
      }
    }

    .blogs__triple,
    .blogs__double {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
