.brand__wrapper {
  h4 {
    margin: 0;
  }
  .logo_img {
    height: 40px;
  }
  img,
  .logo_img {
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    border-radius: 4px;
    transition: all 0.4s ease-in;
    width: auto;
    max-width: 250px;

    &:hover {
      border: 1px solid var(--btn-primary);
    }
  }

  .segment {
    color: var(--font-secondary);
    width: fit-content;
    .segment__labels {
      line-height: 0;
      padding: 5px 4px;
      > div {
        padding: 0px 17px;
        line-height: 0;
        min-height: 0;
      }

      i {
        line-height: 0;
        color: var(--font-secondary);
      }
    }
  }

  .form__color__picker {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;

    > div:first-child {
      width: 90px;
      margin: 0 auto;
    }
  }
}

.text__area__wrapper {
  width: 250px;
  span {
    padding: 0;
  }
}
