.brand__wrapper {
  background-color: var(--bg-content-form);
  padding: 20px;
  h4 {
    margin: 0;
  }
  img {
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    border-radius: 4px;
    transition: all 0.4s ease-in;
    &:hover {
      border: 1px solid var(--btn-primary);
    }
  }
  .segment {
    background-color: var(--bg-segment);
    .segment__labels {
      line-height: 0;
      padding: 5px 0px;

      > div {
        padding: 0px 17px;
        line-height: 0;
        min-height: 0;
      }

      i {
        line-height: 0;
        color: var(--font-secondary);
      }
    }
  }
  .form__color__picker {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    > div:first-child {
      width: 90px;
      margin: 0 auto;
    }
  }
}
