.hero__content__wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-primary);

  background-image: radial-gradient(var(--bg-secondary) 2px, transparent 2px),
    radial-gradient(var(--bg-secondary) 2px, var(--bg-primary) 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;

  // background-image: radial-gradient(var(--bg-secondary) 1.4500000000000002px, var(--bg-primary) 1.4500000000000002px);
  // background-size: 29px 29px;

  .blogContentContainer {
    position: relative;
    z-index: 0;
    width: 700px;
    margin: 0 auto;

    min-height: calc(40vh + 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 50px;
      font-weight: 900;
      text-align: center;
    }
    p {
      color: var(--font-secondary);
      text-align: center;

      font-size: 1.5rem;
      line-height: 1.4;
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 435px) {
  .hero__content__wrapper {
    .blogContentContainer {
      width: 350px;
      min-height: calc(30vh + 60px);
      margin-top: 20px;

      h1 {
        font-size: 30px;
      }
      p {
        max-width: 300px;
        font-size: 16px;

        margin-bottom: 0px;
      }
    }
  }
}
