.faq__container {
  max-width: var(--marketing-container-width);
  margin: 0px auto;
}

.drawer__header {
  border-bottom: 1px solid var(--border-color) !important;
}
.drawer__footer {
  border-top: 1px solid var(--border-color) !important;
}

.add__more__btn {
  i {
    line-height: 0;
  }
}

.faq__form__container {
  max-width: 1000px;
  background-color: var(--bg-primary);
  // margin: 0px 0px 30px 0px;
  border-radius: 8px;

  form {
    width: 100%;
    > div:first-child {
      padding-top: 0px;
    }
    > div:last-child {
      padding-bottom: 0px;
    }
  }
  .edit__pipe {
    height: 20px;
    width: 2px;
    background-color: var(--bg-tag);
  }
  i {
    font-size: 18px;
    color: var(--font-secondary);
    line-height: 0;
  }
}

.faq__design__wrapper {
  text-align: center;
}

@media only screen and (max-width: 435px) {
  .faq__container {
    max-width: 80vw;
    margin: 0px auto;
  }
}
