.Certificate_template_container {
  .certificate_wrapper {
    background-color: var(--bg-primary);
    padding: 10px;
    > div:last-child {
      padding-left: 5px;
    }

    .image_wrapper {
      object-fit: contain;
    }
  }
}
.student__view {
  max-width: var(--marketing-container-width);
  margin: 0 auto;
  padding: 40px 0;
}

.author__view {
  max-width: var(--container-width);
  padding: 40px;
}
.certificate_page {
  .certificate_header {
    align-self: flex-start;
    color: var(--font-secondary);
    :hover {
      color: var(--font-primary);
    }
  }
  .certificate_image {
    position: relative;
    padding: 20px;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 550px;
    width: 800px;
    img {
      position: relative;
      height: auto;
      width: 100%;
    }
    button {
      margin-top: 20px;
      width: 200px;
      display: flex;
      align-items: center;
      gap: 10px;
      i {
        margin-top: 5px;
      }
    }
  }
  .about_description {
    font-size: 1.2rem;
    color: var(--font-secondary);

    span {
      color: var(--ft-color-dull);
    }
  }
}

@media only screen and (max-width: 435px) {
  .student__view,
  .author__view {
    max-width: 80vw;
    margin: 0 auto;
  }
  .certificate_page {
    width: 80vw;

    padding: 20px;

    .certificate_image {
      padding: 20px;
      background-color: var(--bg-primary);
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-height: 30vh;
      width: calc(100vw - 40px);
      img {
        height: auto;
        width: 100%;
      }
      button {
        margin-top: 0px;
        width: 100%;
        align-items: center;
        gap: 2;
      }
    }
    .about_description {
      max-width: 300px;
      font-size: 16px;
      line-height: 1.5;
      color: var(--font-secondary);

      span {
        color: var(--ft-color-dull);
      }
    }
  }
}

@media only screen and (max-width: 933px) and (orientation: landscape) {
  .certificate_page {
    padding: 20px;
    margin-left: 80px;

    .certificate_image {
      padding: 20px;
      background-color: var(--bg-primary);
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-height: 50vh;
      width: calc(100vw - 160px);

      img {
        height: auto;
        width: 100%;
      }
      button {
        margin-top: 0px;

        align-items: center;
        justify-content: space-between;
      }
    }
    .about_description {
      max-width: 500px;
      font-size: 16px;
      line-height: 1.5;
      color: var(--font-secondary);

      span {
        color: var(--ft-color-dull);
      }
    }
  }
}
