.site__builder__layout {
  .sider_content {
    background-color: var(--bg-secondary);
    padding: 10px 20px;
    flex-basis: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
}
.site__builder__header {
  height: 50px;
}

.content__menu__icon {
  line-height: 0;
  color: var(--font-secondary);
}
.selected__menu__icon {
  color: var(--font-primary);
  line-height: 0;
}

.content__menu__wrapper {
  li {
    margin-inline: 0px !important;
    width: 100% !important;
    border-radius: 0px !important;
  }
}

.side__bar__container {
  position: fixed;
  border-right: 1px solid var(--border-color);
  left: 0;
  bottom: 0;
  top: 0;
  background-color: var(--bg-primary);
  width: 350px;
  overflow-y: auto;

  .side__bar__breadcrumb {
    padding: 10px 20px;
  }

  .config__sections {
    padding-top: 10px;

    .collapse__header {
      // padding: 5px 0px 0px 0px;

      > div:first-child {
        > div:first-child {
          // height: 33px;
        }

        > div:nth-child(3) {
          margin-top: 4px;
        }
      }

      i {
        line-height: 0;
        font-size: 18px;
      }
    }

    .segment {
      color: var(--font-secondary);
      margin-right: -5px;
    }
    .darkmode__switch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;

      p {
        margin: 0;
      }

      .switch {
        margin-right: -5px;
      }
    }

    .collapse__wrapper {
      height: 100%;
      border: none;
      border-radius: 0px;
    }
  }
  div.site__builder__header {
    padding: 10px 15px 10px 20px;
    .go_back_btn {
      color: var(--font-secondary);
      line-height: 0;

      i {
        font-size: 18px;
      }

      &:hover {
        color: var(--btn-primary);
      }
    }
  }
}
