.site__setup__container {
  position: relative;
  background-color: var(--bg-secondary);

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  .setup__side__bar {
    max-width: 80vw;
    margin: 0 auto;

    overflow: auto;
    left: 0;
    top: 0;
    right: 0;

    padding: 20px 30px;

    .side__bar__header {
      margin-bottom: 20px;
      text-align: center;
      p {
        font-size: 1.2rem;
      }
    }

    .setup__options {
      margin-top: 20px;
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .setup__card {
      background-color: var(--bg-primary);
      padding: 15px;
      width: 100%;

      gap: 15px;
      transition: all 0.4s;
      border: 1px solid var(--bg-primary);
      border-radius: 15px;

      &:hover {
        border: 1px solid var(--btn-primary);
      }
      p {
        margin: 0;
      }

      div:first-child {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        padding: 5px;
        img {
          width: auto;
          height: 24px;
        }
      }
    }
  }
  .site__preview__container {
    padding-top: 20px;
    border-top: 2px solid var(--border-color);
    overflow: hidden;

    .site__preview__titlebar {
      padding: 0px 10px;
      height: 30px;
      background-color: var(--bg-primary);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      border: 2px solid var(--border-color);
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 5px;
      > div {
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }
      > div:first-child {
        background-color: red;
      }
      > div:nth-child(2) {
        background-color: #eeee3b;
      }
      > div:last-child {
        background-color: #05c605;
      }
    }
    .site__preview__iframe {
      border: 2px solid var(--border-color);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      overflow-x: hidden;
      width: calc(100vw - 40px);
      height: calc(100vh - 80px);
    }
  }
}
