.preview__site__wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  .screen__mode__handler {
    line-height: 0;
    font-size: 18px;
    color: var(--font-secondary);
  }
  .site__preview__container {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .site__preview__titlebar {
      padding: 0px 10px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 35px;
      background-color: var(--bg-primary);

      border: 2px solid var(--border-color);
      border-bottom: none;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all 0.4s ease-in;

      > div:first-child {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 5px;

        div {
          height: 8px;
          width: 8px;
          border-radius: 50%;
        }
        > div:first-child {
          background-color: red;
        }

        > div:nth-child(2) {
          background-color: #eeee3b;
        }

        > div:last-child {
          background-color: #05c605;
        }
      }

      .tab_wrapper {
        width: 200px;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 30px;
        background-color: var(--bg-secondary);
        cursor: default;
        img {
          height: 16px;
          width: 16px;
        }
        p {
          font-size: 12px;
          margin: 0;
          display: -webkit-box;
          max-width: 100%;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        i {
          line-height: 0;
          font-size: 12px;
          color: var(--font-secondary);
          cursor: pointer;
        }
      }
    }

    .site__preview__iframe {
      border: 2px solid var(--border-color);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow-x: hidden;
      transform-origin: 0 0;
      height: calc(100vh - 110px);
      transition: all 0.4s;
    }
  }
}

.preview__desktop__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .site__preview__container {
    .site__preview__titlebar {
      width: calc(100vw - 400px);
      .new__window__link_wrapper {
        position: absolute;
        left: 42%;

        padding: 5px 10px;
        border-radius: 4px;
        background-color: var(--bg-secondary);
        cursor: default;
        i {
          line-height: 0;
          font-size: 14px;
          color: var(--font-secondary);
          cursor: pointer;
        }
        p {
          font-size: 12px;
          margin: 0;
        }
      }
    }
  }
}

.preview__mobile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .site__preview__container {
    .site__preview__titlebar {
      width: calc(400px - 40px);
      .new__window__link_wrapper {
        display: none;
      }
    }
  }
}
