.site__preview__container {
  .site__preview__titlebar {
    width: calc(100vw - 360px);

    padding: 0px 10px;
    height: 30px;
    background-color: var(--bg-primary);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    border: 2px solid var(--border-color);
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    > div {
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }
    > div:first-child {
      background-color: red;
    }
    > div:nth-child(2) {
      background-color: #eeee3b;
    }
    > div:last-child {
      background-color: #05c605;
    }
  }
  .site__preview__iframe {
    border: 2px solid var(--border-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-x: hidden;
    width: calc(100vw - 360px);
    height: calc(100vh - 80px);
  }
}
