.features__container {
  max-width: var(--marketing-container-width);
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0px auto;

  .features {
    display: grid;
    gap: 30px;

    .features__card {
      background-color: var(--bg-primary);
      border-radius: 16px;
      padding: 20px;
      transition: all 0.4s;
      border: 1px solid var(--bg-primary);

      &:hover {
        border: 1px solid var(--btn-primary);
      }

      img {
        width: auto;
        height: 40px;
        margin-bottom: 20px;
      }
    }
    .features__card__small {
      width: 380px;
    }

    .features__card__large {
      width: 580px;
    }
  }

  .features__triple {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.features__layout_container {
  .features__layout__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
    cursor: pointer;
    padding: 20px;
    background-color: var(--bg-primary);
    border-radius: 16px;

    transition: all 0.4s;
    border: 1px solid var(--border-color);
    &:hover {
      border: 1px solid var(--btn-primary);
    }
  }
}

@media only screen and (max-width: 435px) {
  .features__container {
    max-width: 80vw;
    margin: 0px auto;

    .features {
      .features__card__large,
      .features__card__small {
        width: 80vw;
      }
    }

    .features__triple {
      grid-template-columns: 1fr;
    }
  }
}
