.cms__container {
  width: 1000px;
  background-color: var(--bg-primary);
  margin: 0px 0px 30px 0px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  > div:last-child {
    padding: 20px;
  }
  .cms__form__header {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin: 0;
    }
  }
  form {
    width: 100%;
    > div:first-child {
      margin-bottom: 0;
    }
  }
  .cms__form {
    background-color: var(--bg-primary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    h5 {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--font-primary);
      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: var(--font-secondary);
      }
    }
    input {
      width: 250px;
    }
    > div:first-child {
      max-width: 400px;
    }
  }
}
