.cms__container {
  width: 1000px;
  background-color: var(--bg-primary);
  margin: 0px 0px 30px 0px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  > div:last-child {
    padding: 0px 20px 20px 20px;
  }
  .cms__form__header {
    padding: 10px 15px;
    background-color: var(--bg-content-form);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin: 0;
    }
  }
  form {
    width: 100%;
    > div:first-child {
      margin-bottom: 0;
    }
  }
  .cms__form {
    position: relative;
    padding: 20px;
    background-color: var(--bg-primary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    h5 {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--font-primary);
    }
    p {
      padding: 0;
      margin-bottom: 8px;
    }
    input {
      width: 250px;
    }
    > div:first-child {
      max-width: 400px;
    }
  }
  .upload__watermark {
    border-radius: 4px;
    .img__preview {
      img {
        border-radius: 4px;
      }
      position: relative;

      i {
        position: absolute;
        padding: 5px;
        top: 35px;
        left: 35px;
        backdrop-filter: blur(4px);

        border-radius: 4px;

        background-color: var(--bg-header);
        line-height: 0;
        font-size: 20px;
        color: var(--font-primary);
      }

      &:hover {
        i {
          color: var(--font-secondary);
        }
      }
    }

    i {
      line-height: 0;
      font-size: 20px;
    }
    transition: all 0.4s ease-in-out;
    &:hover {
      color: var(--font-primary);
    }
  }

  .form__disabled__overlay {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0px;
    right: 10px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    background: var(--bg-header);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
