.footerContainer {
  background-color: var(--bg-primary);
  padding: 20px 0px;

  .social__links__icon {
    background-color: var(--bg-secondary);
    transition: all 0.4s ease-in-out;
    padding: 10px;
    border-radius: 50%;
    i {
      font-size: 18px;
      line-height: 0;
      color: var(--font-secondary);
    }
    &:hover {
      background-color: var(--bg-tag);
    }
  }

  .powered__by {
    a {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      background: var(--bg-tag);
      padding: 5px 10px;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--font-primary);
      }

      p {
        margin: 0;
        color: inherit;
      }

      img {
        height: 30px;
      }
    }
  }

  footer {
    max-width: var(--marketing-container-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: var(--font-secondary);
    }

    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .linkWrapper {
      display: flex;
      gap: 100px;

      .linkList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .title {
          margin-top: 5px;
          font-size: 16px;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            padding-top: 10px;

            cursor: pointer;

            &:hover {
              color: var(--hover-text);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 435px) {
  .footerContainer {
    padding: 20px;
    display: flex;

    footer {
      width: calc(100vw - 40px);
      gap: 20px;
      flex-direction: column;
      justify-content: center;

      > div:first-child {
        align-items: center;
        justify-items: center;
        width: 100%;
        gap: 70px;
      }

      .linkWrapper {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        .linkList {
          flex-direction: column;

          .title {
            font-size: 16px;
          }
        }
      }
    }
  }
}
