.footerContainer {
  background-color: var(--bg-primary);
  color: var(--font-primary);
  padding: 40px 0px;

  footer {
    max-width: var(--marketing-container-width);
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .socialIcons {
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
        fill: var(--font-primary);
      }

      i {
        fill: var(--font-primary);
      }
    }

    .linkWrapper {
      display: flex;
      gap: 100px;

      .linkList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .title {
          margin-top: 5px;
          font-size: 16px;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            padding-top: 10px;
            color: var(--font-secondary);
            cursor: pointer;

            &:hover {
              color: var(--hover-text);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 435px) {
  .footerContainer {
    padding: 20px;
    display: flex;

    footer {
      width: calc(100vw - 40px);
      gap: 40px;
      flex-direction: column-reverse;

      > div:first-child {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 70px;
      }

      .linkWrapper {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        .linkList {
          flex-direction: column;

          .title {
            font-size: 16px;
          }
        }
      }
    }
  }
}
